---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import CostOfRiskSection from '../components/CostOfRiskSection.astro';
import HybridModelSection from '../components/HybridModelSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import ControlTowerSection from '../components/ControlTowerSection.astro';
import ValuePropSection from '../components/ValuePropSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Canadian Metal Fabricators | The Risk-Insured Supply Chain">
	<Navbar />
	
	<main>
		<Hero />
        <HybridModelSection />
		<CostOfRiskSection />
        <ServicesSection />
        <ControlTowerSection />
        <ValuePropSection />
		<ContactSection />
	</main>

	<Footer />
</Layout>